@import 'modern-normalize';

:root {
  /* Colors */
  --c-black: #000;
  --c-white: #fff;
  --c-grey-100: #eaeaea;
  --c-grey-200: #d4d4d4;
  --c-grey-300: #c7c7c7;
  --c-grey-400: #b6b6b6;
  --c-grey-500: #8a8a8a;
  --c-grey-600: #696969;
  --c-grey-700: #484848;
  --c-grey-800: #353535;
  --c-grey-900: #151515;
  --c-blue-300: #084db5;
  --c-blue-400: #0747a6;
  --c-blue-500: #064095;
  --c-red-200: #da3d3d;
  --c-red-300: #c03535;
  --c-red-400: #a82d2d;
  --c-red-500: #922727;
  --c-red-600: #741f1f;

  --c-primary-text: var(--c-white);
  --c-primary-bg: var(--c-blue-400);
  --c-primary-border: var(--c-blue-500);
  --c-primary-bg-hover: var(--c-blue-500);
  --c-primary-text-hover: var(--c-white);

  --c-secondary-text: var(--c-blue-400);
  --c-secondary-bg: var(--c-white);
  --c-secondary-border: var(--c-blue-400);
  --c-secondary-bg-hover: var(--c-blue-400);
  --c-secondary-text-hover: var(--c-white);

  --c-critical-text: var(--c-red-400);
  --c-critical-bg: var(--c-white);
  --c-critical-border: var(--c-red-400);
  --c-critical-bg-hover: var(--c-red-400);
  --c-critical-text-hover: var(--c-white);

  /* Border radius */
  --br-primary: 8px;
  --br-secondary: 4px;
  --br-full: 100%;

  /* Transitions */
  --tr-primary: 0.2s ease-in-out;

  /* Z-indexes */
  --zi-0: 0;
  --zi-1: 1;
  --zi-2: 2;
  --zi-3: 3;
}

html,
body {
  min-width: 320px;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
optgroup,
select,
textarea {
  /* Has to reset default value of normalize.css */
  line-height: 1.2;
}

.truncate-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}
