@import 'modern-normalize';

:root {
  /* Colors */
  --c-black: #000;
  --c-white: #fff;
  --c-grey-100: #eaeaea;
  --c-grey-200: #d4d4d4;
  --c-grey-300: #c7c7c7;
  --c-grey-400: #b6b6b6;
  --c-grey-500: #8a8a8a;

  /* Border radius */
  --br-primary: 8px;
  --br-secondary: 4px;
  --br-full: 100%;

  /* Transitions */
  --tr-primary: 0.2s ease-in-out;

  /* Z-indexes */
  --zi-0: 0;
  --zi-1: 1;
  --zi-2: 2;
  --zi-3: 3;
}

html {
  height: 100%;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
}

button,
input,
optgroup,
select,
textarea {
  /* Has to reset default value of normalize.css */
  line-height: 1.2;
}
