.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--c-white);
  border-bottom: 1px solid var(--c-grey-100);
  position: sticky;
  top: 0;
  z-index: var(--zi-1);
}

.LogoLink {
  text-decoration: none;
  color: var(--c-black);

  & h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
  }
}

.MainContent {
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}
